body {
    background-color: antiquewhite;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse; 
    margin: 20px 0;
}

th {
    background-color: darkolivegreen; 
    color: white;
    text-align: center;
    padding: 10px;
}

td {
    border: 1px solid #ddd; 
    padding: 8px;
    text-align: left;
}

fieldset {
    display:flex;
    flex-direction: column;
    gap: 10px;
}
