<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Happy Day Convenience Store</h1>
    </header>
    {# Nav links to all the pages #}
    <main>
        <a href="{{ url_for("index") }}">Home</a>
        <a href="{{ url_for("sales_browse") }}">Sales</a>
        <a href="{{ url_for("products_browse") }}">Products</a>
        <a href="{{ url_for("sales_products_browse") }}">SalesProducts</a>
        <a href="{{ url_for("customers_browse") }}">Customers</a>
        <a href="{{ url_for("categories_browse") }}">Categories</a>
        <a href="{{ url_for("locations_browse") }}">Locations</a>
        <a href="{{ url_for("products_locations_browse") }}">ProductsLocations</a>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
