{% extends "base.j2" %}

{% block content %}
<h2>SalesProducts</h2>
<button id="add-new">Add New SaleProduct</button>
<h3>Browse SalesProduct</h3>
<table>
<thead>
<tr>
    {% for header in headers %}
    <th>{{ header }}</th>
    {% endfor %}
    <th></th>
    <th></th>
</tr>
<tbody>
{% for row in data %}
<tr>
    {% for key in row.keys() %}
    <td>{{row[key]}}</td>
    {% endfor %}
    <td>
        <button 
            class="edit-btn" 
            data-id="{{ row["saleProductId"] }}"
            data-productName="{{ row["productName"] }}"
            data-saleId="{{ row["saleId"] }}"
            data-date="{{ row["date"] }}"
            data-customerName="{{ row["customerName"] }}"
            data-quantity="{{ row["quantity"] }}"
        >Edit</button>
    </td>
    <td>
        <button 
            class="delete-btn"
            data-id="{{ row["saleProductId"] }}"
            data-productName="{{ row["productName"] }}"
            data-saleId="{{ row["saleId"] }}"
            data-date="{{ row["date"] }}"
            data-customerName="{{ row["customerName"] }}"
            data-quantity="{{ row["quantity"] }}"
        >Delete</button>
        </td>
</tr>
{% endfor %}
</table>

<div>

<div id="insert" style="display: none">
    <h3>Add Sale Product</h3>
    <form id="addSaleProduct" name="addSaleProduct" method="post" action="{{ url_for("sales_products_new") }}">
        <fieldset>
            <div>
                <label>Product</label>
                <select name="name" required>
                    <option value="" disabled selected>-- select an option --</option>
                    {% for product in products %}
                    <option value="{{ product["name"] }}">{{ product["name"] }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div>
                <label>Sale ID</label>
                <select name="saleId" required>
                    <option value="" disabled selected>-- select an option --</option>
                    {% for sale in sales %}
                    <option value="{{ sale["saleId"] }}">SaleID: {{ sale["saleId"] }}, Date: {{ sale["date"] }}, Customer: {{ sale["name"] }}</option> 
                    {% endfor %}
                </select>
            </div>

            <div>
                <label>Quantity</label>
                <input type="number" name="quantity" required  min="1"/>
            </div>

        </fieldset>
        <button type="submit">Add</button>
        <button type="button" id="clearAddForm">Cancel</button>
    </form>
</div>


<div id="update" style="display: none">
    <h3>Update Sale Product</h3>
    <form id="updateSaleProduct" name="updateSaleProduct" method="post" action="{{ url_for("sales_products_edit") }}">
        <fieldset>
            <div>
                <label>ID: </label><span id="update-id-display"> </span>
                <input type="hidden" id="update-id" name="saleProductId" />
            </div>

            <div>
                <label>Product</label>
                <select name="productName" id="update-productName" required>
                    {% for product in products %}
                    <option>{{ product["productName"] }}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <label>Sale</label>
                <select name="saleId" id="update-saleId">
                    {% for sale in sales %}

                    <option value="{{ sale["saleId"] }}"
                    {% if sale["saleId"] == value %} selected {% endif %}
                    >
                        Sale ID: {{ sale["saleId"] }} |
                        Date: {{ sale["date"] }} |
                        Customer: {{ sale["customerName"] }}
                
                    </option> 
                    {% endfor %}
                </select>
            </div>
            
            <div>
                <label>Quantity</label>
                <input type="number" name="quantity" id="update-quantity" />
            </div>

        </fieldset>
        <button type="submit">Update</button>
        <button type="button" id="clearUpdateForm">Cancel</button>
    </form>
</div>


<div id="delete" style="display: none">
    <h3>Delete Sale Product</h3>
    <form id="deleteSaleProduct" name="deleteSaleProduct" method="post" action="{{ url_for("sales_products_delete") }}">
        <fieldset>
            <div>
                <label>ID: </label>
                <span id="delete-id-display"> </span>
                <input type="hidden" id="delete-id" name="saleProductId" />
            </div>

            <div>
                <label>Product: </label>
                <span id="delete-productName"></span>
            </div>

            <div>
                <span id="delete-saleId"> </span>
            </div>
            
            <div>
                <label>Quantity: </label>
                <span id="delete-quantity"> </span>
            </div>
            
        </fieldset>
        <button type="submit">Delete</button>
        <button type="button" id="clearDeleteForm">Cancel</button>
    </form>
</div>

{% block javascript %}
<script>
    document.querySelectorAll('.edit-btn').forEach(button => {
        button.addEventListener('click', (event) => {
            const id = event.target.getAttribute("data-id");
            const productName = event.target.getAttribute("data-productName");
            const saleId = event.target.getAttribute("data-saleId");
            const date = event.target.getAttribute("data-date");
            const customerName = event.target.getAttribute("data-customerName");
            const quantity = event.target.getAttribute("data-quantity");

            document.getElementById("update-id-display").innerText = id;
            document.getElementById("update-id").value = id;
            document.getElementById('update-productName').value = productName;
            document.getElementById('update-saleId').value = saleId 
            document.getElementById('update-quantity').value = quantity;

            toggleDisplay("edit");
        });
    });

       document.querySelectorAll('.delete-btn').forEach(button => {
        button.addEventListener('click', (event) => {
            const id = event.target.getAttribute("data-id");
            const productName = event.target.getAttribute("data-productName");
            const saleId = event.target.getAttribute("data-saleId");
            const date = event.target.getAttribute("data-date");
            const quantity = event.target.getAttribute("data-quantity");
            const customerName = event.target.getAttribute("data-customerName");

            document.getElementById("delete-id-display").innerText = id;
            document.getElementById("delete-id").value = id;
            document.getElementById('delete-productName').innerText = productName;
            document.getElementById('delete-saleId').innerText = `Sale ID: ${saleId} | Date: ${date} | Customer: ${customerName}` ;
            document.getElementById('delete-quantity').innerText = quantity;

            toggleDisplay("delete")
        });
    });

    document.getElementById("clearAddForm").addEventListener("click", () => {
        document.getElementById("addSaleProduct").reset()
    });
    document.getElementById("clearUpdateForm").addEventListener("click", () => {
        document.getElementById("updateSaleProduct").reset()
        document.getElementById("update-id-display").innerText = "";
    });
    document.getElementById("clearDeleteForm").addEventListener("click", () => {
        document.getElementById("deleteSaleProduct").reset()
        document.getElementById("delete-id-display").innerText = "";
        document.getElementById('delete-productName').innerText = "";
        document.getElementById('delete-saleId').innerText = "";
        document.getElementById('delete-quantity').innerText = ""; 
    });

    const addNewButton = document.getElementById("add-new")
    addNewButton.addEventListener("click", (event) => {
        toggleDisplay("add")
    })

    const toggleDisplay = (form) => {
        addForm = document.getElementById("insert")
        editForm = document.getElementById("update")
        deleteForm = document.getElementById("delete")

        if (form === "add") {
            addForm.style.display = "block";
            editForm.style.display = "none";
            deleteForm.style.display = "none";
        } else if (form === "edit") {
            addForm.style.display = "none";
            editForm.style.display = "block";
            deleteForm.style.display = "none";
        } else if (form === "delete") {
            addForm.style.display = "none";
            editForm.style.display = "none";
            deleteForm.style.display = "block";
        }

    }
 
</script>
{% endblock %}

{% endblock %}

</div>
